.my-form-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vh;
  height: 30vh;
  position: absolute;
}

.my-form-instructions-para {
  font-size: 20px;
  border: none;
  font-weight: bold;
  color: greenyellow;
  background: #1C2331;
  width: 75vh;
  padding: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 6px 0px black, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 6px 0px black, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 6px 0px black, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.list-of-instructions {
  text-align: -webkit-left;
}

hr {
  border-color: black;
}

.home {
  margin-left: 20px;
  font-size: 40px;
}

.home {
  display: inline-block;
  border: none;
  font-weight: bold;
  color: greenyellow;
  background: #1C2331;
  width: 40vh;
  padding: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 6px 0px black, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 6px 0px black, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 6px 0px black, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}